*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 16px;
    gap: 16px;
}

.item{
    height: 100px;
    width: 80%;
    background-color: #FFF0F5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 32px;
}

.texto{
    font-family: 'Libre Baskerville';
    color: black;
    font-size: 64px;
}

.forma{
    width: 50px;
    height: 50px;
    background-color: #FFB6C1;
    cursor: pointer;
    box-shadow: 0px 0px 16px palevioletred;
    transition: 1s;
}

.pink{
    background-color:#FF1493;
}

.circulo{
    border-radius: 50%;
}

.posicao{
    order: -1;
}

.trocar{
    background-color: #7FFFD4;
}

.girar{
    transform: rotate(180deg);
}

.imagem{
    background-image: url(./Raica.JPG);
    background-size: cover;
}